<mdb-card>
    <!--Card content-->
    <mdb-card-body>  
      <!--Title-->
      <mdb-card-title>
        <h4 class="card-title text-center">Your Cities</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>          
        <!-- Material form group -->
      <form>
    <!-- Material input -->
        <div class="md-form form-group mt-5">
          <input mdbInputDirective type="text" class="form-control" id="formGroupExampleInputMD" placeholder="">
          <label for="formGroupExampleInputMD">City Name</label>
          <button type="submit" class="btn btn-primary btn-md">Add City</button>
        </div>
     </form>

     <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lagos
          <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lagos
          <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Lagos
          <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
        </li>
      </ul>
  <!-- Material form group -->
      </mdb-card-text>  
    </mdb-card-body>
</mdb-card>