<mdb-card>
    <!--Card content-->
    <mdb-card-body>  
      <!--Title-->
      <mdb-card-title>
        <h1 class="text-center"><strong>Paris</strong></h1>
      </mdb-card-title>
      <div class="row">
        <div class="col-4">
          <div class="weather-icon">
              <img class="rounded" src="../../../assets/images/clouds.svg" alt="cloud image">
          </div>
        </div>
        <div class="col-4">
          <h5><b>Drizzle</b></h5>
          <p>Min. 33<sup>o</sup>C</p>
          <p>Max. 40<sup>o</sup>C</p>
        </div>
        <div class="weather-details">
            <p>Wind: 4.1mph</p>
            <p>Pressure: 1012</p>
            <p>Humidity: 81%</p>      
        </div>
      </div>
      <mdb-card-text> 

      </mdb-card-text>
  
    </mdb-card-body>
  </mdb-card>
  
