<div class="container">
  <div class="row">
    <div class="col-md-6">            
      <app-city-details></app-city-details>
    </div>
    <div class="col-md-4">
      <app-city-list-container></app-city-list-container>
    </div>
  </div>
</div>

