<form class="text-center p-5">
    <div class="row">
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
            <p class="h4 mb-4">Search City</p>
            <div class="md-form">
              <input mdbInputDirective type="text" id="form1" class="form-control">
              <label for="form1" class="label">City Name</label>
            </div>
        </div>
        <div class="col-sm">
         
        </div>
      </div>
    

    

</form>
<!-- Default form login -->